@model List<BooklyProjectAcunmedya.Entities.Category>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<br />
<h3>Kategoriler</h3>
<br />

@{ 
    int count = 0;
}

<table class="table table-bordered table-hover">
    <tr>
        <th>#</th>
        <th>Görsel</th>
        <th>Kategori Adı</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>

    @foreach (var item in Model)
    {
        count++;

        <tr>
            <th>@count</th>
            <td><img src="@item.ImageUrl" style="width:75px;height:75px" /></td>
            <td>@item.CategoryName</td>
            <td><a href="/Category/DeleteCategory/@item.CategoryId" class="btn btn-outline-danger"><i class="fa fa-trash"></i> Sil</a></td>
            <td><a href="/Category/UpdateCategory/@item.CategoryId" class="btn btn-outline-info"><i class="fa fa-pen"></i> Güncelle</a></td>
        </tr>
    }
</table>
<br />
<td><a href="/Category/CreateCategory/" class="btn btn-outline-dark">Yeni Kategori Ekle</a></td>
