@model BooklyProjectAcunmedya.Entities.Category
@{
    ViewBag.Title = "UpdateCategory";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<br />
<h3>Kategori Güncelle</h3>
<br />

<form method="post">
    <input type="hidden" name="CategoryId" value="@Model.CategoryId"/>
    <label>Kategori Adı</label>
    <input type="text" name="CategoryName" value="@Model.CategoryName" class="form-control" required />
    <br />
    <label>Görsel Url</label>
    <input type="text" name="ImageUrl" value="@Model.ImageUrl" class="form-control" required />
    <br />
    <button class="btn btn-outline-dark"><i class="fa fa-save"></i> Güncelle</button>
</form>