@model BooklyProjectAcunmedya.Entities.PhotoGallery
@{
    ViewBag.Title = "CreatePhoto";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<br />
<h3>Yeni Fotoğraf Ekle</h3>
<br />

<form method="post">

    <label>Resim Url</label>
    <input type="url" name="ImageUrl" class="form-control" required/>
    <br />

    <button class="btn btn-outline-primary">Kaydet</button>

</form>