@model BooklyProjectAcunmedya.Entities.Book
@{
    ViewBag.Title = "CreateBook";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<br />
<h3>Yeni Kitap Ekle</h3>
<br />

<form method="post" enctype="multipart/form-data">

    <label>Kapak Resmi</label>
    <input type="file" name="CoverImageFile" class="form-control" required />
    <br />

    <label>Kitap Adı</label>
    <input type="text" name="BookName" class="form-control" required />
    <br />

    <label>Fiyatı</label>
    <input type="text" name="Price" class="form-control" required />
    <br />

    <label>Yazar</label>
    @Html.DropDownListFor(x => x.AuthorId, (List<SelectListItem>)ViewData["authors"], "Yazar Seçiniz..." , new { @class = "form-control", required = "required"})
    <br />

    <div class="form-check">
        <input class="form-check-input" type="checkbox" name="IsOnSale" id="isOnSaleCheckbox" value="true"  required/>
        <label class="form-check-label" for="isOnSaleCheckbox">
            Satışta mı?
        </label>
    </div>
    <br />

    <p class="text-danger">
        @Html.ValidationSummary()
    </p>

    <button class="btn btn-primary"><i class="fa fa-save"></i> Kaydet</button>

</form>

