@model BooklyProjectAcunmedya.Entities.Author
@{
    ViewBag.Title = "CreateAuthor";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<br />
<h2>Yeni Yazar Ekle</h2>
<br />

<form method="post">
    
    <label>Ad</label>
    <input type="text" name="Name" class="form-control" required/>
    <br />

    <label>Soyad</label>
    <input type="text" name="Surname" class="form-control" required/>
    <br />

    <button class="btn btn-primary">Kaydet</button>
</form>