@model List<BooklyProjectAcunmedya.Entities.Category>

<section id="category" class="padding-large pt-0">
    <div class="container">
        <div class="section-title overflow-hidden mb-4">
            <h3 class="d-flex align-items-center">Kategoriler</h3>
        </div>
        <div class="row">

            @foreach (var item in Model)
            {

                <div class="col-md-4">
                    <div class="card mb-4 border-0 rounded-3 position-relative">
                        <a href="#">
                            <img src="@item.ImageUrl" class="img-fluid rounded-3" alt="cart item">
                            <h6 class=" position-absolute bottom-0 bg-primary m-4 py-2 px-3 rounded-3">
                                <a href="#"
                                   class="text-white">@item.CategoryName</a>
                            </h6>
                        </a>
                    </div>
                </div>

            }
        
        </div>
    </div>
</section>
