<section id="message">
    <div class="container">
        <div class="text-center mb-4 mt-4">
            <h3>Bizimle İletişime Geçin</h3>
        </div>

        <div class="row text-center">
            <div class="col-lg-6 text-center">
                <form action="/Default/SendMessage" method="post">
                    <input class="form-control" type="text" name="Name" placeholder="Adınız Soyadınız" required />
                    <br />
                    <input class="form-control" type="email" name="Email" placeholder="Email Adresiniz" required />
                    <br />
                    <input class="form-control" type="text" name="Subject" placeholder="Konu" required />
                    <br />
                    <textarea class="form-control" name="MessageContent" rows="5" placeholder="Mesajınızı Yazın..."></textarea>
                    <br />
                    <button onclick="sendMessage()" class="btn btn-danger">Mesajı Gönder</button>
                </form>
            </div>
        </div>
    </div>
</section>

<script>

    function sendMessage() {
        Swal.fire({
            title: "Tebrikler!",
            text: "Mesajınız Başarıyla Gönderildi!",
            icon: "success",
            confirmButtonText:"Tamam"
        });
    }

</script>