@model BooklyProjectAcunmedya.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h3>Şifre Değişikliği</h3>

<form method="post">
    <label>Mevcut Şifreniz</label>
    <input type="password" name="CurrentPassword" class="form-control" required/>
    <br />

    <label>Yeni Şifreniz</label>
    <input type="password" name="NewPassword" class="form-control" required/>
    <br />

    <label>Yeni Şifreyi Doğrulayın</label>
    <input type="password" name="ConfirmPassword" class="form-control" required/>
    <br />

    <p class="text-danger">
        @Html.ValidationSummary()
    </p>

    <button>Şifreyi Değiştir</button>
</form>