@model BooklyProjectAcunmedya.Entities.Message
@{
    ViewBag.Title = "UpdataMessage";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<br />
<h3>Mesaj Güncelle</h3>
<br />


<form method="post">

    <input type="hidden" name="MessageId" value="@Model.MessageId"/>

    <label>İsim</label>
    <input type="text" name="Name" class="form-control" value="@Model.Name" placeholder="İsim Soyisim" required />
    <br />

    <label>Email</label>
    <input type="email" name="Email" class="form-control" value="@Model.Email" required />
    <br />

    <label>Konu</label>
    <input type="text" name="Subject" class="form-control" value="@Model.Subject" required />
    <br />

    <label>Yorum</label>
    <textarea class="form-control" name="MessageContent" rows="5" placeholder="Mesajınız.." required></textarea>
    <br />

    <button class="btn btn-outline-primary">Güncelle</button>

</form>
