<ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><img src="@ViewBag.imageUrl" style="width:30px;height:30px;border-radius:50%"/> @ViewBag.nameSurname</a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/Profile/Index">Profil Ayarları</a></li>
            <li><a class="dropdown-item" href="/Profile/ChangePassword">Şifre Güncelle</a></li>
            <li><a class="dropdown-item" href="/Default/Index">Siteye Git</a></li>

            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="/Login/Logout">Çıkış Yap</a></li>
        </ul>
    </li>
</ul>
